@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
}
body .mainContainer header .navContainer {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(209, 209, 209);
  padding-bottom: 1rem;
}
body .mainContainer header .navContainer .logo {
  width: 70px;
  height: 70px;
}
body .mainContainer header .navContainer .logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
body .mainContainer header .navContainer .menu {
  list-style: none;
  position: relative;
  display: flex;
  width: 300px;
  justify-content: space-around;
}
body .mainContainer header .navContainer .menu .headList:hover .subList {
  display: block;
}
body .mainContainer header .navContainer .menu .headList a {
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
}
body .mainContainer header .navContainer .menu .headList .subList {
  display: none;
  list-style: none;
  position: absolute;
  width: 220px;
  height: 220px;
  border-radius: 8px;
  background-color: rgb(197, 192, 192);
}
body .mainContainer header .navContainer .menu .headList .subList li {
  display: flex;
  align-items: center;
  padding: 12px 0px;
}
body .mainContainer header .navContainer .menu .headList .subList li a {
  color: black;
  padding-left: 10px;
  font-size: large;
}
body .mainContainer header .navContainer .menu .headList .subList li i {
  font-size: 2rem;
  margin-left: 3px;
}
body .mainContainer header .navContainer .menu .headList .subList li .bi-person-circle {
  color: rgb(32, 32, 32);
}
body .mainContainer header .navContainer .menu .headList .subList li .bi-heart-fill {
  color: red;
}
body .mainContainer header .navContainer .menu .headList .subList li .bi-link-45deg {
  color: rgb(53, 53, 241);
}
body .mainContainer header .navContainer .menu .headList .subList li .bi-cash-coin {
  color: rgb(6, 135, 6);
}
body .mainContainer header .navContainer .menu .headList .subList li .bi-telephone-fill {
  color: rgb(44, 123, 44);
}
body .mainContainer main .mainContainer {
  margin-top: 4rem;
  padding: 0 80px;
}
body .mainContainer main .mainContainer h1 {
  font-size: 2.2rem;
}
body .mainContainer main .mainContainer .presentation {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .mainContainer main .mainContainer .presentation .formation {
  width: 40%;
}
body .mainContainer main .mainContainer .presentation .formation p {
  text-align: center;
  font-size: large;
}
body .mainContainer main .mainContainer .presentation .formation img {
  width: 100%;
}
body .mainContainer main .mainContainer .presentation .textPresentation {
  width: 40%;
}
body .mainContainer main .mainContainer .presentation .textPresentation p {
  width: 100%;
  font-size: 1.6rem;
}
body .mainContainer main .mainContainer #waounde {
  padding: 0 60px;
  margin-top: 5rem;
}
body .mainContainer main .mainContainer #waounde h3 {
  text-decoration: underline;
}
body .mainContainer main .mainContainer #waounde p {
  font-size: large;
}
body .mainContainer main .mainContainer #waounde #village {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .mainContainer main .mainContainer #waounde #village #map p,
body .mainContainer main .mainContainer #waounde #village #earth p {
  text-align: center;
}
body .mainContainer main .mainContainer #über {
  padding: 0 60px;
  margin-top: 5rem;
}
body .mainContainer main .mainContainer #über h3 {
  text-decoration: underline;
}
body .mainContainer main .mainContainer #über p {
  font-size: large;
}
body .mainContainer main .mainContainer #über #school {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .mainContainer main .mainContainer #über #school #kid,
body .mainContainer main .mainContainer #über #school #beru {
  width: 40%;
}
body .mainContainer main .mainContainer #über #school #kid img,
body .mainContainer main .mainContainer #über #school #beru img {
  width: 100%;
}
body .mainContainer main .mainContainer #spenden {
  padding: 0 60px;
}
body .mainContainer main .mainContainer #spenden h3 {
  text-decoration: underline;
}
body .mainContainer footer {
  background-color: rgb(209, 209, 209);
  margin-top: 5rem;
}
body .mainContainer footer .footerContainer h3 {
  padding: 16px;
  text-align: center;
  margin-bottom: 2rem;
}
body .mainContainer footer .footerContainer #sectionFooter {
  display: flex;
  justify-content: space-around;
}
body .mainContainer footer .footerContainer #sectionFooter .postal {
  width: 20%;
}
body .mainContainer footer .footerContainer #sectionFooter .register {
  width: 30%;
}
body .mainContainer footer .footerContainer #sectionFooter .copyright {
  width: 40%;
}

/*roadmap*/
.roadmap {
  margin-bottom: 110px;
}
.roadmap .rcontainer {
  overflow: hidden;
  padding-top: 40px;
}
.roadmap-item .list-title {
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  padding-bottom: 18px;
  font-size: 1.43em;
  font-weight: 600;
  border-bottom: 2px solid #333333;
  color: #000000;
}
.roadmap-item.executed .list-title {
  color: #fc1367;
}
.roadmap-item.executed li {
  background: linear-gradient(45deg, #00c280 23%, #01a094 33%, #0434da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.roadmap-list {
  padding-top: 20px;
  font-size: 18px;
  line-height: 1.6;
  color: #888888;
  padding-left: 0;
}
.roadmap-list li {
  position: relative;
  padding: 0;
  list-style: none;
  text-align: left;
}
.roadmap-list li::before {
  position: absolute;
  content: "";
}
.roadmap-list li a {
  text-decoration: none;
  color: #7a7a7a;
}
.roadmap-list li a:hover {
  text-decoration: underline;
}
.roadmap-list li:before {
  width: 30px;
  height: 100%;
  left: 0;
  z-index: 200;
}
.roadmap-wrapper {
  position: relative;
  position: relative;
  display: flex;
  flex-direction: column;
}
.roadmap-wrapper::after {
  position: absolute;
  content: "";
}
.roadmap-wrapper::before {
  position: absolute;
  content: "";
}
.roadmap-wrapper:after, .roadmap-wrapper:before {
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  height: 100%;
  width: 2px;
  z-index: 1;
}
.roadmap-wrapper:after {
  background-color: #fc1367;
}
.roadmap-wrapper:before {
  background-color: #fc1367;
  left: calc(50% - 1px);
}
.roadmap-item-wrap {
  position: relative;
  z-index: 10;
}
.roadmap-item-wrap:after {
  content: "";
  display: table;
  clear: both;
}
.roadmap-item-wrap .roadmap-item {
  position: relative;
}
.roadmap-item-wrap .roadmap-item::before {
  position: absolute;
  content: "";
}
.roadmap-item-wrap .roadmap-item:before {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  display: inline-block;
  line-height: 40px;
  margin-top: -15px;
  z-index: 2;
  color: #fc1367;
  content: " ●";
  font-size: 30px;
}
.roadmap-item-wrap.right .roadmap-item {
  padding-left: 70px;
  float: right;
}
.roadmap-item-wrap.right .roadmap-item:before {
  right: 100%;
  transform: translateX(50%);
}
.roadmap-item-wrap.right .list-title {
  padding-left: 70px;
  left: auto;
  right: 0;
}
.roadmap-item-wrap.left .roadmap-item {
  padding-right: 70px;
}
.roadmap-item-wrap.left .roadmap-item:before {
  left: 100%;
  transform: translateX(-50%);
}
.roadmap-item {
  width: 50%;
}

@media (max-width: 1200px) {
  .roadmap-list {
    font-size: 14px;
  }
  .token-sale-items-wrapper {
    left: 40px;
  }
  .roadmap-item-wrap.left .roadmap-item,
.roadmap-item-wrap.right .roadmap-item {
    padding-right: 35px;
  }
}
@media (max-width: 992px) {
  .roadmap-wrapper:before, .roadmap-wrapper:after {
    display: none;
  }
  .roadmap-item {
    width: 100%;
  }
  .roadmap-item .list-title {
    position: relative;
    top: 0;
  }
  .roadmap-item-wrap {
    margin-bottom: 25px;
  }
  .roadmap-item-wrap .list-title {
    padding-left: 25px !important;
  }
  .roadmap-item-wrap .roadmap-item {
    padding: 0 5px 0 0 !important;
  }
  .roadmap-item-wrap .roadmap-item.right:before, .roadmap-item-wrap .roadmap-item.left:before {
    width: 30px;
    height: 30px;
    margin-left: 0;
    bottom: 0;
    top: 1.43em;
    margin-top: 0;
    left: 0;
    right: 100%;
    line-height: 0;
    transform: translateX(0px) translateY(0%);
  }
  .roadmap-list {
    padding: 14px 0 0 25px;
  }
}
@media (max-width: 576px) {
  .roadmap {
    margin-bottom: 25px;
  }
  .roadmap .section-title {
    margin-bottom: 25px;
  }
  .roadmap-item-wrap {
    margin-bottom: 21px;
  }
  .roadmap-item .list-title {
    font-size: 14px;
    padding-bottom: 12px;
  }
  .roadmap-list {
    font-size: 12px;
    padding-top: 10px;
  }
  .roadmap-list li {
    padding-left: 18px;
  }
  .roadmap-list li:before {
    background: url(/assets/img/home/roadmap-list-point.png) no-repeat left 7px;
    background-size: 4px;
  }
  .roadmap-item-wrap .roadmap-item:before {
    width: 35px;
    height: 35px;
    top: 10px;
    left: -4px !important;
  }
  .roadmap-item-wrap.left .roadmap-item:before {
    right: -6px;
  }
  .roadmap-item-wrap.right .roadmap-item:before {
    left: -6px;
  }
}/*# sourceMappingURL=style.css.map */