* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background-color: gray;

  h1,
  h2 {
    color: #D99E32;
    font-family: 'Anek Telugu', sans-serif;
  }

  h3,
  h4,
  h5,
  h6 {
    color: #527343;
    font-family: 'Merienda', sans-serif;
  }

  a {
    color: #D92B4B;
  }

  .mainContainer {
    header {
      .navContainer {
        padding-top: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #D9C6B0;
        padding-bottom: 1rem;

        .logo {
          width: 70px;
          height: 70px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }

        .menu {
          list-style: none;
          position: relative;
          display: flex;
          width: 300px;
          justify-content: space-around;

          .headList:hover .subList {
            display: block;
          }

          .headList {
            a {
              color: black;
              text-decoration: none;
              font-size: 1.3rem;
            }

            .subList {
              display: none;
              list-style: none;
              position: absolute;
              width: 220px;
              height: 220px;
              border-radius: 8px;
              background-color: #D9C6B0;

              li {
                display: flex;
                align-items: center;
                padding: 12px 0px;
                // text-align: center;
                border: 1px solid greenyellow;

                a {
                  color: black;
                  padding-left: 10px;
                  // border: 1px solid blue;
                  font-size: large;
                  // padding: 5px 0;
                }

                i {
                  font-size: 2rem;
                  margin-left: 3px;
                }

                .bi-person-circle {
                  color: rgb(32, 32, 32);
                }

                .bi-heart-fill {
                  color: red;
                }

                .bi-link-45deg {
                  color: rgb(53, 53, 241);
                }

                .bi-cash-coin {
                  color: rgb(6, 135, 6)
                }

                .bi-telephone-fill {
                  color: rgb(44, 123, 44);
                }
              }
            }
          }
        }

      }
    }

    main {
      .mainContainer {
        margin-top: 4rem;
        padding: 0 80px;

        h1 {
          font-size: 2.2rem;
        }

        .presentation {
          margin-top: 3rem;
          display: flex;
          justify-content: space-around;
          align-items: center;

          .formation {
            width: 40%;

            p {
              text-align: center;
              font-size: large;
              // text-decoration: underline;
            }

            img {
              width: 100%;
            }
          }

          .textPresentation {
            width: 40%;

            p {
              width: 100%;
              font-size: 1.6rem;
            }
          }
        }

        #waounde {
          padding: 0 60px;
          margin-top: 5rem;

          h3 {
            text-decoration: underline;
          }

          p {
            font-size: large;
          }

          #village {
            display: flex;
            justify-content: space-around;
            align-items: center;

            #map,
            #earth {
              p {
                text-align: center;
              }
            }
          }
        }

        #über {
          padding: 0 60px;
          margin-top: 5rem;

          h3 {
            text-decoration: underline;
          }

          p {
            font-size: large;
          }

          #school {
            display: flex;
            justify-content: space-around;
            align-items: center;

            #kid,
            #beru {
              width: 40%;

              img {
                width: 100%;
              }
            }
          }

        }

        #spenden {
          padding: 0 60px;

          h3 {
            text-decoration: underline;
          }
        }
      }
    }

    footer {
      background-color: #A68A72;
      margin-top: 5rem;

      .footerContainer {
        h3 {
          color: #ccc;
          padding: 16px;
          text-align: center;
          margin-bottom: 2rem;
        }

        h4 {
          color: rgb(172, 172, 172);
        }

        p {
          color: #fff;
        }

        #sectionFooter {
          display: flex;
          justify-content: space-around;

          .postal {
            width: 20%;
          }

          .register {
            width: 30%;
          }

          .copyright {
            width: 40%
          }
        }
      }
    }
  }
}

/*roadmap*/
$btn-col: #0434da;
$theme-col: #fc1367;
$theme-grey: #6f6e76;
$reg-grey: #888888;
$dark-grey: #333333;
$links-col: #7a7a7a;
$light-col: #000000;

$section-margin: 152px;
$section-padding: 86px;
$title-margin: 60px;

$dot-size: 30px;

//$large-title: 50px;
$large-title: 3.6em;
$main-title: 2.86em;
$reg-title: 2.15em;
$sub-title: 1.43em;
$txt-size: 1.28em;

@mixin bg-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin abs-elem-after {
  position: relative;

  &::after {
    position: absolute;
    content: '';
  }
}

@mixin abs-elem-before {
  position: relative;

  &::before {
    position: absolute;
    content: '';
  }
}

@mixin abs-vert-align {
  top: 50%;
  transform: translateY(-50%);
}

@mixin abs-hor-align {
  left: 50%;
  transform: translateX(-50%);
}

@mixin abs-align {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.roadmap {
  margin-bottom: 110px;

  .rcontainer {
    overflow: hidden;
    padding-top: 40px;
  }

  &-item {
    .list-title {
      position: absolute;
      top: -40px;
      left: 0;
      width: 100%;
      padding-bottom: 18px;
      font-size: $sub-title;
      font-weight: 600;
      border-bottom: 2px solid $dark-grey;
      color: $light-col;
    }

    &.executed {
      .list-title {
        color: $theme-col;
      }

      li {
        background: linear-gradient(45deg, #00c280 23%, #01a094 33%, #0434da);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

      }
    }
  }

  &-list {
    padding-top: 20px;
    font-size: 18px;
    line-height: 1.6;
    color: $reg-grey;
    padding-left: 0;

    li {
      @include abs-elem-before;

      a {
        text-decoration: none;
        color: $links-col;
      }

      a:hover {
        text-decoration: underline;
      }

      padding: 0;
      list-style: none;
      text-align: left;

      &:before {
        width: 30px;
        height: 100%;
        left: 0;
        //background: url(../images/roadmap-list-point.png) no-repeat left 11px;
        z-index: 200;
      }
    }
  }

  &-wrapper {
    @include abs-elem-after;
    @include abs-elem-before;

    display: flex;
    flex-direction: column;

    &:after,
    &:before {
      @include abs-hor-align;

      top: 0;
      height: 100%;
      width: 2px;
      z-index: 1;
    }

    &:after {
      background-color: $theme-col;
    }

    &:before {
      background-color: $theme-col;
      left: calc(50% - 1px);
    }
  }

  &-item-wrap {
    @include clearfix;

    position: relative;
    z-index: 10;

    .roadmap-item {
      @include abs-elem-before;

      &:before {
        @include bg-cover;
        position: absolute;
        display: inline-block;
        line-height: 40px;
        margin-top: -15px;
        z-index: 2;
        color: $theme-col;
        content: ' \25CF';
        font-size: $dot-size;

      }
    }

    &.right {

      .roadmap-item {
        padding-left: 70px;
        float: right;

        &:before {
          right: 100%;
          transform: translateX(50%);
        }
      }

      .list-title {
        padding-left: 70px;
        left: auto;
        right: 0;
      }

    }

    &.left {
      .roadmap-item {
        padding-right: 70px;

        &:before {
          left: 100%;
          transform: translateX(-50%);
        }
      }
    }
  }

  &-item {
    width: 50%;
  }
}


@media (max-width: 1200px) {

  .roadmap-list {
    font-size: 14px;
  }

  .token-sale-items-wrapper {
    left: 40px;
  }

  .roadmap-item-wrap.left .roadmap-item,
  .roadmap-item-wrap.right .roadmap-item {
    padding-right: 35px;
  }
}

@media (max-width: 992px) {

  .roadmap {
    &-wrapper {

      &:before,
      &:after {
        display: none;
      }
    }

    &-item {
      width: 100%;

      .list-title {
        position: relative;
        top: 0;
      }
    }

    &-item-wrap {
      margin-bottom: 25px;

      .list-title {
        padding-left: 25px !important;
      }

      .roadmap-item {
        padding: 0 5px 0 0 !important;

        &.right:before,
        &.left:before {
          width: $dot-size;
          height: $dot-size;
          margin-left: 0;
          bottom: 0;
          top: $sub-title;
          margin-top: 0;
          left: 0;
          right: 100%;
          line-height: 0;
          transform: translateX(0px) translateY(0%);
        }

      }
    }

    &-list {
      padding: 14px 0 0 25px;
    }
  }
}

@media (max-width: 576px) {

  .roadmap {
    margin-bottom: 25px;

    .section-title {
      margin-bottom: 25px;
    }

    &-item {
      &-wrap {
        margin-bottom: 21px;
      }

      .list-title {
        font-size: 14px;
        padding-bottom: 12px;
      }
    }

    &-list {
      font-size: 12px;
      padding-top: 10px;

      li {
        padding-left: 18px;

        &:before {
          background: url(/assets/img/home/roadmap-list-point.png) no-repeat left 7px;
          background-size: 4px;
        }
      }
    }
  }

  .roadmap-item-wrap {
    .roadmap-item:before {
      width: 35px;
      height: 35px;
      top: 10px;
      left: -4px !important;
    }

    &.left .roadmap-item:before {
      right: -6px;
    }

    &.right .roadmap-item:before {
      left: -6px;
    }
  }
}