body {
    section {
        padding: 0 9rem;

        h4 {
            color: #527343;
            font-family: 'Merienda', sans-serif;
        }

        a {
            color: #D92B4B;
        }

        margin-top: 2rem;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .card {
            background-color: #CCCCCC;
            border-radius: 17px;
        }
    }
}