body {
    section {

        h1,
        h2 {
            color: #D99E32;
        }

        h3,
        h4,
        h5,
        h6 {
            color: #527343;
        }

        a {
            color: #D92B4B;
        }

        margin-top: 2rem;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .card {
            background-color: rgb(161, 153, 153);
            border-radius: 17px;
        }
    }
}