section {
    padding: 0 9rem;
    background-color: #CCCCCC;


    h3 {
        color: #527343;
        font-family: 'Merienda', sans-serif;
    }

    a {
        color: #D92B4B;
    }

    h3 {
        font-size: 2rem;
        text-align: center;
        text-decoration: underline;
    }

    .list-group-flush {
        border-radius: 10px;
        margin: 2rem;
    }

    p {
        font-size: large;
    }
}