section {
    padding: 0 60px;



    h3 {
        color: #527343;
        font-family: 'Merienda', sans-serif;
    }

    a {
        color: #D92B4B;
    }

    h3 {
        font-size: 2rem;
        text-align: center;
        text-decoration: underline;
    }

    .list-group-flush {
        border: 1px double rgb(32, 32, 32);
        border-radius: 10px;
        margin: 2rem;
    }

    p {
        font-size: large;
    }
}