@import url(../2016/2016.css);

.health {

    h1,
    h2 {
        color: #D99E32;
    }

    h3,
    h4,
    h5,
    h6 {
        color: #527343;
    }

    a {
        color: #D92B4B;
    }

    flex-wrap: wrap;

    .img1 {
        margin: 0.5rem;
    }
}