body {
    background-color: rgb(223, 222, 222);

    section {


        h3 {
            color: #527343;
            font-family: 'Merienda', sans-serif;
        }

        a {
            color: #D92B4B;
        }

        h3 {
            font-size: 1.7rem;
            text-align: center;
            text-decoration: underline;
        }

        .health {
            margin-top: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;

            .img1 {
                width: 50%;

                img {
                    width: 100%;
                }
            }
        }
    }
}